.toy-blocks-blocks-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.toy-blocks-blocks-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #E0E0E0;
  border-radius: 3px;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 3px;
}

.toy-blocks-blocks-index {
  font-size: 14px;
  color: #5870F7;
  font-weight: bold;
}

.toy-blocks-blocks-hash {
  font-size: 14px;
  color: black;
}
